- pagination_class ||= ''
- nav_class ||= ''
- except_elements ||= []
= paginator.render do
  %nav{ class: nav_class }
    %ul{ class: "pagination #{pagination_class}" }
      = first_page_tag unless current_page.first? || except_elements.include?(:first_page)
      = prev_page_tag unless current_page.first? || except_elements.include?(:prev_page)
      - each_page do |page|
        - if page.left_outer? || page.right_outer? || page.inside_window?
          = page_tag page
        - elsif !page.was_truncated?
          = gap_tag
      = next_page_tag unless current_page.last? || except_elements.include?(:next_page)
      = last_page_tag unless current_page.last? || except_elements.include?(:last_page)
