.card.border.border-0.shadow-sm
  .card-body
    = form_with model: post do |form|
      = form.label :title, class: 'form-label'
      = form.text_field :title, class: 'form-control mb-3'
      = form.label :body, class: 'form-label'
      = form.text_area :body, rows: 20, class: 'form-control mb-3'
      = form.label :picture, class: 'form-label'
      = form.file_field :picture, class: 'form-control mb-3'
      = form.submit t('global.save'), class: 'btn btn-primary'
