.row
  .col-auto
    = link_to post_path(post, anchor: 'comments'), class: 'text-decoration-none text-dark' do
      %i.bi.bi-chat.text-dark.me-2
      = post.comments.count
  .col-auto.d-flex
    - if current_user.liked_posts.include?(post)
      = button_to '', post_post_likes_path(post), method: :delete, id: "post_likes_#{post.id}", class: 'button-trp bi bi-heart-fill text-danger me-2'
    - else
      = button_to '', post_post_likes_path(post), id: "post_likes_#{post.id}", class: 'button-trp bi bi-heart me-2'
    = post.post_likes.count